
{#

1 create a tempalte file for your form (ex. webform--newsletter.html.twig)
2 there is a variable (element) where you can access each field of the form like this:
{{ element.elements.YOUR_FIELD_NAME }}
3 you need to output the form action (submit) at the end of the form like this:
{{ element.actions }}
4 the trick with this solution is that you need to output a couple of hidden form elements that is required for the form to be submitted:
{{ element.form_build_id }}

{{ element.form_id }}

Update: you also need to print out the following variable

{{ element.form_token }}

---

My final form template looks like this:
<div class="request-form">
  <div class="form-wrap clearfix">
    <div class="col-md-4 form-desc">
      {{ element.elements.form_description }}
    </div>
    <div class="col-md-8">
      <form{{ attributes }}>
        {{ title_prefix }}
        <div class="row">
          <div class="col-md-6">
            {{ element.elements.name }}
            {{ element.elements.email }}
            {{ element.elements.phone }}
          </div>
          <div class="col-md-6">
            {{ element.elements.message }}
            {{ element.form_build_id }}
            {{ element.form_token }}
            {{ element.form_id }}
            {{ element.actions }}
          </div>
        </div>
        {{ title_suffix }}
      </form>
    </div>
  </div>
</div>
#}




{{ vardumper(element) }}

{{ vardumper(elements.elements.name) }}


<form{{ attributes }}>
  {{ title_prefix }}
 




<section class="text-gray-600 body-font relative">
  <div class="container px-5 py-24 mx-auto">
    <div class="flex flex-col text-center w-full mb-12">
      <h1 class="sm:text-3xl text-2xl font-medium title-font mb-4 text-gray-900">Contact Us</h1>
      <p class="lg:w-2/3 mx-auto leading-relaxed text-base">Whatever cardigan tote bag tumblr hexagon brooklyn asymmetrical gentrify.</p>
    </div>
    <div class="lg:w-1/2 md:w-2/3 mx-auto">
      <div class="flex flex-wrap -m-2">
        <div class="p-2 w-1/2">
          <div class="relative">
            {{ elsment.elements.name }}
        </div>
        <div class="p-2 w-1/2">
          <div class="relative">
           {{ element.elements.email }}
        </div>
        <div class="p-2 w-full">
          <div class="relative">
            {{ element.elements.message}}
        </div>
        <div class="p-2 w-full">
          {{ element.elements.message }}
          {{ element.form_build_id }}
          {{ element.form_token }}
          {{ element.form_id }}
          {{ element.actions }}
        </div>
      </div>
    </div>
  </div>
</section>



  {{ title_suffix }}
</form>


