
<pre>
  {{ vardumper(user) }}
</pre>
<div class="container min-h-full mx-auto p-4">

  <header role="banner">
    {{ page.header }}
  </header>

  {{ page.primary_menu }}
  {{ page.secondary_menu }}

  {{ page.breadcrumb }}

  {{ page.highlighted }}

  {{ page.help }}

  <main role="main">
    <a id="main-content" tabindex="-1"></a>{# link is in html.html.twig #}

    <div class="md:flex -mx-4">
      <div class="md:flex-1 p-4">
        {{ page.content }}
      </div>{# /.layout-content #}

      {% if page.sidebar_first %}
        <aside class="md:w-1/4 p-4" role="complementary">
          {{ page.sidebar_first }}
        </aside>
      {% endif %}

      {% if page.sidebar_second %}
        <aside class="md:w-1/4" role="complementary">
          {{ page.sidebar_second }}
        </aside>
      {% endif %}
    </div>
  </main>

 

</div>{# /.layout-container #}

{% if page.footer %}
    <footer role="contentinfo">
      {{ page.footer }}
    </footer>
{% endif %}