<div class="container mx-auto px-4">

  <header role="banner">
    {{ page.header }}
  </header>

  {{ page.primary_menu }}
  {{ page.secondary_menu }}

  {{ page.breadcrumb }}

  {{ page.highlighted }}

  {{ page.help }}

  <main role="main">
    <div class="w-full min-h-screen">

      {# INVOICE HEADER #}
      <div>
        <h1 class="uppercase text-3xl">Yellow-Website.com</h1>
        <div>Tel: 0203 172 3971 | Mob: 0782 899 1384 Email: design@Yellow-Website.com</div>
      </div>

      {# INVOICE NUMBER AND DATA #}
      <div>
        <div>Invoice - <span id="invoice-num"></span></div>
        <div id="invoice-date"></div>
      </div>

      {# CLIENT'S ADDRESS #}
      <div>
        Bill To:
        <ul>
          <li>add 1</li>
          <li>add 2</li>
          <li>Add 3</li>
          <li>Add 4</li>
        </ul>

        <ul><li>Tel: 0800 533 5136 Email: info@mmm.com</li></ul>
      </div>

      {# INVOICE DETAILS #}
      <div class="w-full my-5">
        <table class="border">
          <tr class="border-b p-2">
            <th class="w-80 border-l border-r">Descrition</th>
            <th class="px-1">Quantity</th>
            <th class="px-3">Rate</th>
            <th class="px-2 border-r">Amount</th>
          </tr>
          <tbody class="border-l border-r border-b"></tbody>
        </table>

        {# TOTAL AMOUNT #}
        <div>
          <span>Total Amount £</span><span id="total-amount"></span>
        </div>
      </div>

      

      {# BANK ACCOUNT DETAILS #}
      <div>
        <ul>
          <li>Bank Details</li>
          <li>Rajju D Bajrachary</li>
          <li>Bank: HSCB</li>
          <li>Account Number: 91 6053 56</li>
          <li>Sort Code: 50-70-35</li>
        </ul>
      </div>
      

    </div>
    

    
  </main>

  {% if page.footer %}
    <footer role="contentinfo">
      {{ page.footer }}
    </footer>
  {% endif %}

</div>{# /.layout-container #}





<script>


  /** FETCH INVOICE **/
  const getInvoices = async () => {

  const url = '/d9-base/rest/invoice-print/28?_format=json';

  const response = await fetch(url, {
    method: "GET",
    headers:{
      Accept: 'application/vnd.api+json'
    }
  });

  const invoices = await response.json();

  console.log(invoices);

  /** View in Browser innerHTML **/
  /** Display INVOICE NUMBER **/
  const oldInvoiceNumber = invoices[0].field_old_invoice_number
  document.getElementById("invoice-num").innerHTML = oldInvoiceNumber.length > 0 ? oldInvoiceNumber[0].value : ' - ';

  /** Display INVOICE DATE **/
  const oldInvoiceDate = invoices[0].field_old_invoice_date;
  document.getElementById("invoice-date").innerHTML = oldInvoiceDate.length > 0 ? oldInvoiceDate[0].value : ' - ';

  /** RUN PARAGRAPH FUNTION for Invoice Description, Qty, Rate, Amount **/
  const paragraphArr = invoices[0].field_invoice_details;

  console.log("PARA", paragraphArr);
  //getParagraphs(paragraphArr);

  }

  getInvoices();


  /** FETCH PARAGRAPHS in order to 
  get Invoice Description, Quantity, Rate **/

  const getParagraphs = async (arr) => {

    /** New Arr : Paragraphs IDs Arr **/
    const idArr = [];
    arr.map(item=>{
      idArr.push(item.target_id)
    })

    const url = `/d9-base/rest/paragraphs`;
  
    const response = await fetch(url, {
      method: "GET",
      headers:{
        Accept: 'application/vnd.api+json'
      }
    });
  
    const paragraphs = await response.json();
  
    const invoiceDetailArr = [];
    paragraphs.map(item=>{
      if(idArr.includes(item.id[0].value)){ /** if true **/
      invoiceDetailArr.push({
        desc: item.field_description[0].value, 
        qty: item.field_quantity[0].value, 
        rate: item.field_rate[0].value})
      }
    });

    console.log("PARAGRAPHS",paragraphs);
    console.log("ID Arr", idArr);
    console.log("INVOICE DETAILS ",invoiceDetailArr);

  }

  /** DOM INVOICE DESCRIPTION **
  const domInvoiceDescription = (desc, qty, rate, amount) =>{
      return document.getElementById("invoice-details").innerHTML = `<tr>
      <td class="p-1">${desc}</td>
      <td class="text-center">${qty}</td>
      <td class="text-right pr-1">${rate}</td>
      <td class="text-right pr-1">${amount}</td>
    </tr>`
  }
  **/
    

  


</script>