

<div>

  <header role="banner">
    {{ page.header }}
  </header>
  
    {{ page.primary_menu }}
    {{ page.secondary_menu }}
  
  


  <main id="top"  role="main">

  {# {{ vardumper(page.content) }}  #}

    <div>
     
        {{ page.content.tailwindcss_content }}

        
 

       
          {{ page.content.webform }}
          {{ page.content.webform_2 }}
      
      
      </div>{# /.layout-content #}







    
  </main>

  {% if page.footer %}
    <footer role="contentinfo">
      {{ page.footer }}
    </footer>
  {% endif %}

</div>{# /.layout-container #}


