<div class="tw-container tw-mx-auto tw-p-4 tw-relative tw-z-50">

  <header role="banner">
    {{ page.header }}
  </header>

  {{ page.primary_menu }}
  {{ page.secondary_menu }}

  {{ page.breadcrumb }}

  {{ page.highlighted }}

  {{ page.help }}

  <main id="top"  role="main" class="tw-relative tw-z-10">

    <a id="main-content" tabindex="-1"></a>{# link is in html.html.twig #}


  {# {{ vardumper(page.content) }}  #}
    
    
    <div  class="md:tw-flex -tw-mx-4">
      <div class="md:tw-flex-1 tw-p-4">

        {{ page.content.tailwindcss_content }}

        
        {# SCROLL DOWN INDICATOR #}
      <div>
        <div class="tw-flex tw-w-full tw-items-center tw-justify-center -tw-mt-20">
          <div id="arrow" class="tw-animate-bounce tw-w-6 tw-h-6">
          <a href="#watch">V</a>
        </div>
        </div>
      </div>

        <div id="watch" class="tw-flex tw-justify-center">
          {{ page.content.webform }}
          {{ page.content.webform_2 }}
        </div>
      
      </div>{# /.layout-content #}





      {% if page.sidebar_first %}
        <aside class="md:tw-w-1/4 tw-p-4" role="complementary">
          {{ page.sidebar_first }}
        </aside>
      {% endif %}

      {% if page.sidebar_second %}
        <aside class="md:tw-w-1/4" role="complementary">
          {{ page.sidebar_second }}
        </aside>
      {% endif %}


    <div 
    id="scroll-to-top"
    class="tw-fixed tw-right-0 tw-bottom-0">
    <a
    href="#top" 
    class="tw-w-8 tw-h-8 tw-border tw-flex tw-justify-center tw-items-center tw-rounded-full tw-m-5 tw-cursor-pointer">v</a></div>

    </div>

    
  </main>

  {% if page.footer %}
    <footer role="contentinfo">
      {{ page.footer }}
    </footer>
  {% endif %}

</div>{# /.layout-container #}
<div class="tw-w-full tw-h-screen tw-flex tw-justify-center tw-items-center tw-absolute tw-top-0 tw-z-0">
  <div class="tw-relative tw-w-full tw-max-w-lg">
    <div class="tw-absolute tw-top-0 -tw-left-4 tw-w-72 tw-h-72 tw-bg-red tw-rounded-full tw-mix-blend-multiply tw-filter tw-blur-2xl"></div>
    <div class="tw-absolute tw-top-0 -tw-right-4 tw-w-72 tw-h-72 tw-bg-yellow tw-rounded-full tw-mix-blend-multiply"></div>
    <div class="tw-absolute tw-top-4 tw-left-20 tw-w-72 tw-h-72 tw-bg-gray tw-rounded-full tw-mix-blend-multiply tw-filter tw-blur-2xl"></div>
  </div>
</div>

