<div class="container mx-auto px-4">

  <header role="banner">
    {{ page.header }}
  </header>

  {{ page.primary_menu }}
  {{ page.secondary_menu }}

  {{ page.breadcrumb }}

  {{ page.highlighted }}

  {{ page.help }}

  <main role="main">
    <div class="w-full min-h-screen">

      {# INVOICE HEADER #}
      <div>
        <h1 class="uppercase text-3xl">Yellow-Website.com</h1>
        <div>Tel: 0203 172 3971 | Mob: 0782 899 1384 Email: design@Yellow-Website.com</div>
      </div>

      {# INVOICE NUMBER AND DATA #}
      <div class="mt-5 w-full flex justify-end item-end">
        <div>
          <div>Invoice - <span id="invoice-number"></span></div>
          <div id="invoice-date"></div>
        </div>
      </div>

      {# CLIENT'S ADDRESS #}
      <div class="my-5">
        Bill To:
        <ul>
          <li id="client-name"></li>
          <li id="address-line-1"></li>
          <li id="address-line-2"></li>
          <li id="address-city"></li>
          <li id="address-postcode"></li>
        </ul>

        <ul class="my-5">
          <li>
              <span id="address-tel"></span> | 
              <span id="address-email"></span>
          </li>
        </ul>
      </div>

      {# INVOICE DETAILS #}
      <div class="w-full my-5">
        <table class="border">
          <tr class="border-b p-2">
            <th class="w-80 p-1">Descrition</th>
            <th class="px-1 border-l border-r">Quantity</th>
            <th class="px-3 border-r">Rate</th>
            <th class="px-2 border-r">Amount</th>
          </tr>
          <tbody class="border-l border-r border-b" id="invoice-details"></tbody>
        </table>

        {# TOTAL AMOUNT #}
        <div class="my-5">
          <span>Total Amount £</span><span id="total-amount"></span>
        </div>
      </div>


      {# BANK ACCOUNT DETAILS #}
      <div id="bank-details"></div>
      

    </div>
    

    
  </main>

  {% if page.footer %}
    <footer role="contentinfo">
      {{ page.footer }}
    </footer>
  {% endif %}

</div>{# /.layout-container #}





<script>


window.onload = function(){
  try{
      /** GET node Id from URL parameter **/
      const url_string =  (window.location.href).toLowerCase();
      const url = new URL(url_string);
      /** Node Id **/
      const uuid = url.searchParams.get("nid");
      console.log("NODE ID", uuid);

      /** RUN GET INVOICE **/
      getInvoices(uuid);

  }catch(err){
    console.log("Error: URL parameter not found" );
  }
}



  /** FETCH INVOICE **/
  const getInvoices = async (uuid) => {

  const url = `/d9-base/jsonapi/node/invoice/${uuid}`;

  const response = await fetch(url, {
    method: "GET",
    headers:{
      Accept: 'application/vnd.api+json'
    }
  });

  const invoices = await response.json();

  console.log(invoices);

  const { data: {attributes, relationships} } = invoices;

  console.log(attributes);
  console.log(relationships);
  
  //console.log(attributes.field_old_invoice_number);

  /** INVOICE NUMBER **/
  document.getElementById('invoice-number').innerHTML = attributes.field_old_invoice_number;
  /** INVOICE DATE **/
  document.getElementById('invoice-date').innerHTML = attributes.field_old_invoice_date;


  /** INVOICE DETAILS **/
  /** nested array distructuring **/
  const {data: {relationships:{field_invoice_details:{links}}}} = invoices;

  getParagraphs(links.related)


  
  }



  /** FETCH INVOICE DETAILS 
  * [ description, quantity, rate ] 
  * from PARAGRAPHS 
  **/
  const getParagraphs = async (url) => {
  
    console.log(url.href);
    /**
    const response = await fetch(url, {
      method: "GET",
      headers:{
        Accept: 'application/vnd.api+json'
      }
    });
  
    const paragraphs = await response.json();

    console.log("PARA",paragraphs);
    **/
  

  }




</script>